div {
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-gap: 15px;
    height: 500px;
    width: 500px;
    grid-template-rows: 1fr 2.5fr;
}

.grid-display {
    display: grid;
    grid-template-rows: auto;
}

.display-history {
    text-align: right;
    padding: 10px;
}

.display-inputs {
    text-align: right;
    padding: 10px;
}

.display-preview {
    text-align: right;;
    padding: 10px;
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.grid-item:hover {
    background-color: #D3D3D3;
}