div {
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-height: 100vh;
    min-width: 0
}

.grid-container {
    display: grid;
    grid-gap: 15px;
    height: 600px;
    width: 400px;
    grid-template-rows: 1fr 2.5fr;
}

.grid-display {
    display: grid;
    min-width: 0;
    grid-template-rows: auto;
}

.display-history {
    display: flex;
    flex-direction: row-reverse;
    white-space: nowrap;
    align-items: center;
    overflow: scroll;
    height: 45px;
    padding-right: 15px;
}

.display-inputs {
    display: flex;
    flex-direction: row-reverse;
    overflow: scroll;
    align-items: center;
    padding-right: 15px;
    height: 45px;

}

.display-preview {
    justify-content: end;
    align-items: center;
    padding-right: 50px;
    height: 45px;
    min-width: 0
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.grid-item:hover {
    background-color: #D3D3D3;
}